@page
@model CBTDWeb.Pages.Categories.IndexModel
@{
}
<h1>Category List</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <!--create a loop here to loop through and display the actual database values -->
        <tr>
            <td width="50%">Category Name from Database</td>
            <td width="30%">Display Order from Database</td>
        </tr>

    </tbody>
</table>
